# **Dogs Dataset - Crosstab Chart**

**IMPORTANT!!** You must run each code block from top to bottom. First, run the import block, then the "Create a dataframe" block, then the "df.columns" block, etc. The code will not execute until you run the block by clicking on the play button. To see the play button, hover over the [ ] in each block.

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

Download the [dogs.csv](https://drive.google.com/file/d/1JB7i-u7q3YpuxihimQG5GiGTKac-_MLj/view?usp=sharing) file onto your computer and drag into this Notebook.

In [13]:
# Create a dataframe from our csv file
df = pd.read_csv("dogs.csv")

In [14]:
df.columns

Index(['id', 'Name', 'Breed Group', 'Bred For', 'Min Life Span',
       'Max Life Span', 'Min Height', 'Max Height', 'Min Weight', 'Max Weight',
       'Temperament', 'Image URL'],
      dtype='object')

Run the code below to create a cross-tabulation or crosstab chart. A crosstab chart counts how many times combinations of values appear. This chart shows the count of each Max Life Span value per Breed Group.

With your partner, choose 2 columns to discover interesting information. Use mathematical terms (percents, counts, averages, ranges, etc.) and correct use of units of measurement (percents, counts, money, prediction scores, etc.)Remember to update the title and axis labels. Answer the questions below (double click on this box to edit):

1. Partner Names:

2. What is the question you are trying to answer with the two column chart?

3. Were the plot results as you expected, or unexpected?

4. What is one piece of information someone could learn from your plot?

5. What, if any, assumptions are you making when reading the plot?


Click on the share link at the top right corner of this Notebook and change so 'anyone with the link can view'. Copy the link and post as a comment on the lesson slides.

# Cross-tabulation (Crosstab) Chart

In [17]:
# Add a title to the chart using Python print() statement
row='Max Weight'
column='Breed Group'

print('\t',column, ' per ', row, '\n')

# Create the crosstab chart, specify two column names: index = the rows, and
# columns = the columns.
pd.crosstab(index=df[row], columns=[df[column]], margins=True)

	 Breed Group  per  Max Weight

Breed Group,Herding,Hound,Mixed,Non-Sporting,Sporting,Terrier,Toy,Working,All
Max Weight,,,,,,,,,
7.0,0,0,0,0,0,0,2,0,2
9.0,0,0,0,0,0,0,1,0,1
10.0,0,0,0,0,0,0,1,0,1
12.0,0,0,0,0,0,1,1,0,2
13.0,0,0,0,0,0,0,3,0,3
14.0,0,0,0,0,0,1,0,0,1
15.0,0,0,0,1,0,0,1,0,2
15.5,0,0,0,0,0,1,0,0,1
16.0,0,0,0,1,0,0,1,0,2
18.0,0,0,0,1,0,0,2,0,3
20.0,0,0,0,0,0,1,0,0,1
22.0,0,0,0,0,0,1,0,0,1
23.0,0,0,0,0,0,1,0,0,1
24.0,0,1,0,0,0,0,0,0,1
25.0,0,0,0,1,0,0,0,0,1
30.0,1,0,0,0,1,0,0,0,2
35.0,0,2,0,0,1,0,0,0,3
38.0,1,0,0,0,0,0,0,0,1
40.0,0,1,0,1,1,2,0,0,5
45.0,0,0,0,1,2,0,0,1,4
46.0,1,0,0,0,0,0,0,0,1
50.0,0,0,1,0,3,0,0,0,4
53.0,1,0,0,0,0,0,0,0,1
55.0,0,1,0,1,1,0,0,0,3
60.0,0,4,0,0,0,1,0,1,6
65.0,2,0,0,0,1,1,0,0,4
66.0,0,0,0,0,0,0,0,1,1
70.0,0,1,0,2,3,0,0,1,7
75.0,0,1,0,0,1,0,0,0,2
80.0,1,3,0,0,2,0,0,0,6
85.0,0,0,0,0,1,0,0,0,1
88.0,0,0,0,0,1,0,0,0,1
90.0,2,0,1,0,1,0,0,2,6
95.0,1,0,0,0,0,0,0,0,1
100.0,0,1,0,0,0,0,0,4,5
110.0,2,1,0,0,0,0,0,1,4
115.0,0,0,0,0,0,0,0,3,3
120.0,0,0,0,0,0,0,0,3,3
130.0,0,1,0,0,0,0,0,1,2
150.0,0,0,0,0,0,0,0,2,2
170.0,0,0,0,0,0,0,0,1,1
180.0,0,1,0,0,0,0,0,0,1
190.0,0,0,0,0,0,0,0,1,1
200.0,0,0,0,0,0,0,0,1,1
All,12,18,2,9,19,10,12,23,105

# Crosstab Chart with Heatmap

Importing the Seaborn library, you can use functions to draw a heatmap, which
darkens the cells with higher values.

In [16]:

# Add a title to the chart using Python print() statement
print('Maximum Life Span Counts per Breeding Group\n')

# Adding a heatmap to highlight the higher numbers, you must import
# the import seaborn libarary: import seaborn as sns
orange = sns.light_palette("orange", as_cmap=True)

# Create the crosstab chart, specify two column names: index = the rows, and
# columns = the columns.
pd.crosstab(index=df['Breed Group'], columns=[df['Max Life Span']]).style.background_gradient(cmap=orange)

Maximum Life Span Counts per Breeding Group